{% extends "base.html" %}
{% block title %}Holiday Homes{% endblock title %}

{% block content %}

	
<div class="container d-flex flex-column justify-content-center align-items-center" style="height: 70vh;">
    <div class="text-secondary mb-4">
        <i class="fas fa-exclamation-triangle fa-5x"></i>
    </div>
    
    <h1 class="display-3 font-weight-bold">404</h1>
    <h2 class="h4 text-muted mb-4">Page introuvable</h2>
    
    <p class="text-center mb-5">
        Désolé, la ressource que vous recherchez n'est pas disponible.
    </p>

    <a href="/" class="btn btn-outline-primary border-2">
        Retour à l'accueil
    </a>
</div>

{% endblock %}